Repository boostcamp-2020/IssueTracker-19, pull requests merged in 2020-10, with the labels that each got.

#33 passport-local, github2 로그인, 로그아웃 구현, express-session 적용 완료
  backend/app.js
  backend/lib/constants.js
  backend/lib/db.js
  backend/lib/passport.js
  backend/middlewares/.keep
  backend/middlewares/auth.middleware.js
  backend/models/index.js
  backend/models/user.model.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/auth/auth.controller.js
  backend/routes/api/auth/github/github.controller.js
  backend/routes/api/auth/github/index.js
  backend/routes/api/auth/index.js
  backend/routes/api/index.js
  backend/routes/api/issues/assignee/assignee.controller.js
  backend/routes/api/issues/assignee/index.js
  backend/routes/api/issues/comment/comment.controller.js
  backend/routes/api/issues/comment/index.js
  backend/routes/api/issues/index.js
  backend/routes/api/issues/issues.controller.js
  backend/routes/api/issues/label/index.js
  backend/routes/api/issues/label/label.controller.js
  backend/routes/api/issues/milestone/index.js
  backend/routes/api/issues/milestone/milestone.controller.js
  backend/routes/api/issues/title/index.js
  backend/routes/api/issues/title/title.controller.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/api/index.js
Labels: enhancement, review

#35 [WEB] #32 새로운 api 문서에 맞게 라우터 다시 구현
  backend/routes/api/index.js
  backend/routes/api/issues/[no]/assignees/assignees.controller.js
  backend/routes/api/issues/[no]/assignees/index.js
  backend/routes/api/issues/[no]/close/close.controller.js
  backend/routes/api/issues/[no]/close/index.js
  backend/routes/api/issues/[no]/comments/comment.controller.js
  backend/routes/api/issues/[no]/comments/index.js
  backend/routes/api/issues/[no]/index.js
  backend/routes/api/issues/[no]/labels/index.js
  backend/routes/api/issues/[no]/labels/label.controller.js
  backend/routes/api/issues/[no]/milestone/index.js
  backend/routes/api/issues/[no]/milestone/milestone.controller.js
  backend/routes/api/issues/[no]/open/index.js
  backend/routes/api/issues/[no]/open/open.controller.js
  backend/routes/api/issues/[no]/title/index.js
  backend/routes/api/issues/[no]/title/title.controller.js
  backend/routes/api/issues/index.js
  backend/routes/api/issues/issues.controller.js
  backend/routes/api/issues/milestone/milestone.controller.js
  backend/routes/api/labels/index.js
  backend/routes/api/labels/labels.controller.js
  backend/routes/api/milestones/index.js
  backend/routes/api/milestones/milestones.controller.js
Labels: backend, review

#46 [WEB-#45] 마일스톤 관련 API 구현
  backend/models/milestone.model.js
  backend/routes/api/milestones/index.js
  backend/routes/api/milestones/milestones.controller.js
Labels: backend

#44 [WEB] #42 전체 이슈 가져오기 및 필터링 옵션에 따라 필터링 로직 구현
  backend/lib/passport.js
  backend/models/comment.model.js
  backend/models/index.js
  backend/models/issue.model.js
  backend/routes/api/issues/issues.controller.js
Labels: backend

#41 [Deploy] 프론트 서버, 백 서버 구동 확인
  backend/app.js
  backend/lib/constants.js
  backend/lib/passport.js
  backend/middlewares/.keep
  backend/middlewares/auth.middleware.js
  backend/models/assignee.model.js
  backend/models/comment.model.js
  backend/models/index.js
  backend/models/issue.model.js
  backend/models/label.model.js
  backend/models/milestone.model.js
  backend/models/user.model.js
  backend/package-lock.json
  backend/package.json
  backend/routes/api/auth/auth.controller.js
  backend/routes/api/auth/github/github.controller.js
  backend/routes/api/auth/github/index.js
  backend/routes/api/auth/index.js
  backend/routes/api/index.js
  backend/routes/api/issues/[no]/assignees/assignees.controller.js
  backend/routes/api/issues/[no]/assignees/index.js
  backend/routes/api/issues/[no]/close/close.controller.js
  backend/routes/api/issues/[no]/close/index.js
  backend/routes/api/issues/[no]/comments/comment.controller.js
  backend/routes/api/issues/[no]/comments/index.js
  backend/routes/api/issues/[no]/index.js
  backend/routes/api/issues/[no]/labels/index.js
  backend/routes/api/issues/[no]/labels/label.controller.js
  backend/routes/api/issues/[no]/milestone/index.js
  backend/routes/api/issues/[no]/milestone/milestone.controller.js
  backend/routes/api/issues/[no]/no.controller.js
  backend/routes/api/issues/[no]/open/index.js
  backend/routes/api/issues/[no]/open/open.controller.js
  backend/routes/api/issues/[no]/title/index.js
  backend/routes/api/issues/[no]/title/title.controller.js
  backend/routes/api/issues/index.js
  backend/routes/api/issues/issues.controller.js
  backend/routes/api/labels/index.js
  backend/routes/api/labels/labels.controller.js
  backend/routes/api/milestones/index.js
  backend/routes/api/milestones/milestones.controller.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/api/index.js
Labels: deploy

#49 [WEB-#20] Comment API 기능 구현
  backend/lib/passport.js
  backend/middlewares/auth.middleware.js
  backend/models/comment.model.js
  backend/routes/api/comments/comment.controller.js
  backend/routes/api/comments/index.js
  backend/routes/api/index.js
  backend/routes/api/issues/[no]/comments/comment.controller.js
  backend/routes/api/issues/[no]/index.js
  backend/routes/api/issues/issues.controller.js
Labels: review

#50 [WEB] 이슈 관련 기능들 구현
  backend/lib/passport.js
  backend/models/assignee.model.js
  backend/models/issue.model.js
  backend/routes/api/issues/[no]/assignees/assignees.controller.js
  backend/routes/api/issues/[no]/close/close.controller.js
  backend/routes/api/issues/[no]/milestone/milestone.controller.js
  backend/routes/api/issues/[no]/open/open.controller.js
  backend/routes/api/issues/[no]/title/title.controller.js
  backend/routes/api/issues/issues.controller.js
Labels: backend, review

#58 [WEB-#57] 레이블 관련 API구현
  backend/models/label.model.js
  backend/routes/api/labels/labels.controller.js
  backend/routes/api/milestones/milestones.controller.js
Labels: backend, review

#64 [WEB-#63] prettier 설정 변경 후 전체 적용
  backend/.babelrc
  backend/.prettierrc
  backend/lib/passport.js
  backend/models/assignee.model.js
  backend/models/issue.model.js
  backend/models/milestone.model.js
  backend/routes/api/issues/issues.controller.js
  frontend/.eslintrc.js
  frontend/.prettierrc
  frontend/package-lock.json
  frontend/package.json
  frontend/src/index.scss
  frontend/src/lib/utils.js
Labels: convention
