Repository boostcamp-2020/IssueTracker-19, pull requests merged in 2020-11, with the labels that each got.

#70 [WEB] issue의 assignee 삭제 구현 완료
  backend/models/assignee.model.js
  backend/routes/api/issues/[no]/assignees/assignees.controller.js
Labels: backend

#71 [Web-#57] issue-label 추가 삭제 구현
  backend/models/index.js
  backend/models/issueLabel.model.js
  backend/routes/api/issues/[no]/labels/label.controller.js
Labels: backend

#69 [WEB-#68] getIssues 코드 리팩토링
  backend/app.js
  backend/models/issue.model.js
  backend/models/label.model.js
  backend/package.json
  backend/routes/api/issues/issues.controller.js
  backend/services/index.js
  backend/services/issue.service.js
Labels: backend

#74 [WEB] getIssue 구현
  backend/models/assignee.model.js
  backend/models/comment.model.js
  backend/models/issue.model.js
  backend/models/label.model.js
  backend/models/milestone.model.js
  backend/routes/api/issues/[no]/no.controller.js
  backend/routes/api/issues/issues.controller.js
  backend/routes/api/milestones/milestones.controller.js
  backend/services/issue.service.js
Labels: backend

#87 [WEB] req.body 필수값 체크 함수 적용, obj delete 코드 개선 등
  backend/lib/constants.js
  backend/lib/utils.js
  backend/middlewares/auth.middleware.js
  backend/models/issue.model.js
  backend/models/label.model.js
  backend/models/milestone.model.js
  backend/routes/api/comments/comment.controller.js
  backend/routes/api/index.js
  backend/routes/api/issues/[no]/assignees/assignees.controller.js
  backend/routes/api/issues/[no]/index.js
  backend/routes/api/issues/[no]/labels/label.controller.js
  backend/routes/api/issues/[no]/title/title.controller.js
  backend/routes/api/issues/index.js
  backend/routes/api/issues/issues.controller.js
  backend/routes/api/labels/index.js
  backend/routes/api/labels/labels.controller.js
  backend/routes/api/milestones/index.js
  backend/routes/api/milestones/milestones.controller.js
  backend/services/issue.service.js
Labels: backend, enhancement

#95 [iOS-#82, #85] page Layout Setting & toolbar add
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Assets.xcassets/baseline_queue_black_48pt.imageset/Contents.json
  ios/IssueTracker/IssueTracker/Assets.xcassets/baseline_queue_black_48pt.imageset/baseline_queue_black_48pt_1x.png
  ios/IssueTracker/IssueTracker/Assets.xcassets/baseline_queue_black_48pt.imageset/baseline_queue_black_48pt_2x.png
  ios/IssueTracker/IssueTracker/Assets.xcassets/baseline_queue_black_48pt.imageset/baseline_queue_black_48pt_3x.png
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controller/FilterViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueAddViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Controller/LabelDetailAndAddViewController.swift
  ios/IssueTracker/IssueTracker/Controller/LabelViewController.swift
  ios/IssueTracker/IssueTracker/Controller/ViewController.swift
  ios/IssueTracker/IssueTracker/Model/Issue.swift
  ios/IssueTracker/IssueTracker/View/LabelCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/View/LabelCollectionViewCell.xib
Labels: enhancement, iOS

#98 [iOS-#77] add bottom sheet in issue detail scene
  ios/IssueTracker/.gitattributes
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Model/Issue.swift
  ios/IssueTracker/IssueTracker/View/CornerRoundedFloatingView.swift
  ios/IssueTracker/IssueTracker/View/IssueDetailCommentViewCell.swift
  ios/IssueTracker/IssueTracker/View/IssueDetailCommentViewCell.xib
  ios/IssueTracker/IssueTracker/View/IssueDetailHeaderReusableView.swift
  ios/IssueTracker/IssueTracker/View/IssueDetailHeaderReusableView.xib
Labels: enhancement, iOS

#99 [WEB] 프론트 라우팅 / 공통 스타일 분리 / webpack 설정 변경
  backend/models/user.model.js
  backend/routes/api/auth/auth.controller.js
  backend/routes/api/auth/index.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Header/Header.js
  frontend/src/components/index.js
  frontend/src/index.js
  frontend/src/pages/Issue.js
  frontend/src/pages/Login.js
  frontend/src/pages/NotFound.js
  frontend/src/pages/index.js
  frontend/src/styles/common.js
  frontend/src/styles/utils.js
  frontend/webpack.config.js
Labels: backend, frontend

#100 [Web] 리액트 전체 리팩토링
  frontend/src/App.js
  frontend/src/components/Header/Header.js
  frontend/src/components/LoginBox/LocalBox/LocalBox.js
  frontend/src/components/LoginBox/LoginBox.js
  frontend/src/components/LoginBox/OauthBox/OauthBox.js
  frontend/src/components/index.js
  frontend/src/index.scss
  frontend/src/pages/Issue.js
  frontend/src/pages/Login.js
  frontend/src/pages/NotFound.js
  frontend/src/styles/common.js
  frontend/src/styles/utils.js
Labels: frontend

#101 [WEB] 회원가입 페이지 구현
  frontend/src/App.js
  frontend/src/components/SignUpBox/SignUpBox.js
  frontend/src/components/index.js
  frontend/src/constants/index.js
  frontend/src/pages/SignUp.js
  frontend/src/pages/index.js
Labels: frontend

#102 [WEB] IssueSearchBar 및 공통 버튼, 공통 컴포넌트 구현 + 도커파일 작성
  backend/.dockerignore
  backend/Dockerfile
  backend/package-lock.json
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/IssueSearchBar/IssueSearchBar.js
  frontend/src/components/LabelMilestoneControls/LabelMilestoneControls.js
  frontend/src/components/LoginBox/LocalBox/LocalBox.js
  frontend/src/components/index.js
  frontend/src/imgs/label.svg
  frontend/src/imgs/milestone.svg
  frontend/src/index.js
  frontend/src/pages/Issue.js
  frontend/src/reset.scss
  frontend/src/styles/common.js
  frontend/src/styles/shared/Button.js
  frontend/src/styles/shared/index.js
  frontend/src/styles/variables.js
  frontend/webpack.config.js
Labels: frontend, review

#103 [iOS-#84,#86] label edit, add VC, filter VC layout setting, issue VC layout fix
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controller/FilterViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Controller/LabelDetailAndAddViewController.swift
  ios/IssueTracker/IssueTracker/Controller/LabelViewController.swift
  ios/IssueTracker/IssueTracker/View/DesignableClass.swift
  ios/IssueTracker/IssueTracker/View/IssueCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/View/LabelCollectionViewCell.xib
Labels: bug, enhancement, iOS

#106 [WEB-#91] 마일스톤 생성 화면 마크업
  frontend/src/App.js
  frontend/src/components/MilestoneEditBox/MilestoneEditBox.js
  frontend/src/components/MilestoneNewHeader/MilestoneNewHeader.js
  frontend/src/components/SignUpBox/SignUpBox.js
  frontend/src/components/index.js
  frontend/src/pages/Milestone.js
  frontend/src/pages/MilestoneEdit.js
  frontend/src/pages/MilestoneNew.js
  frontend/src/pages/index.js
Labels: frontend

#108 [Web-#92] 레이블 화면 리스트 화면
  .gitignore
  frontend/src/App.js
  frontend/src/components/LabelBox/LabelBox.js
  frontend/src/components/LabelBox/LabelItemBox/LabelEditBox/LabelEditBox.js
  frontend/src/components/LabelBox/LabelItemBox/LabelItem/LabelItem.js
  frontend/src/components/LabelBox/LabelItemBox/LabelItemBox.js
  frontend/src/components/LabelBox/LabelMilestoneTab/LabelMilestoneTab.js
  frontend/src/components/index.js
  frontend/src/pages/Label.js
  frontend/src/pages/index.js
  frontend/src/styles/shared/Button.js
  frontend/src/styles/utils.js
  frontend/src/styles/variables.js
Labels: frontend

#104 [iOS-#81] add milestone edit VC
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controller/MilestoneEditViewController.swift
  ios/IssueTracker/IssueTracker/Controller/MilestoneViewController.swift
  ios/IssueTracker/IssueTracker/View/BottomBorderView.swift
  ios/IssueTracker/IssueTracker/View/CornerRoundedFloatingView.swift
  ios/IssueTracker/IssueTracker/extension/NSLayoutConstraint+description.swift
Labels: enhancement, iOS

#114 [iOS-#47] enable decode model setting
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Controller/LabelViewController.swift
  ios/IssueTracker/IssueTracker/Controller/MilestoneViewController.swift
  ios/IssueTracker/IssueTracker/Info.plist
  ios/IssueTracker/IssueTracker/Model/Issue.swift
  ios/IssueTracker/IssueTracker/Model/Milestone.swift
  ios/IssueTracker/IssueTracker/Protocol/ListCollectionViewProtocol.swift
  ios/IssueTracker/IssueTracker/View/IssueDetailHeaderReusableView.swift
  ios/IssueTracker/IssueTracker/View/LabelCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/View/LabelCollectionViewCell.xib
Labels: enhancement, iOS

#116 [WEB-#91] 마일스톤 추가 페이지 생성
  frontend/src/App.js
  frontend/src/components/MilestoneEditBox/MilestoneEditBox.js
  frontend/src/pages/MilestoneEdit.js
  frontend/src/pages/MilestoneNew.js
  frontend/src/pages/index.js
Labels: frontend

#115 [WEB] 이슈 페이지 진행중, 공통 모달 구현 등
  backend/app.js
  backend/models/user.model.js
  backend/package.json
  backend/routes/api/index.js
  backend/routes/api/users/index.js
  backend/routes/api/users/users.controller.js
  frontend/src/components/IssueList/IssueFilterTab/FilterBox/FilterBox.js
  frontend/src/components/IssueList/IssueFilterTab/IssueFilterTab.js
  frontend/src/components/IssueList/IssueItem/IssueItem.js
  frontend/src/components/IssueList/IssueList.js
  frontend/src/components/IssueSearchBox/IssueSearchBox.js
  frontend/src/components/LoginBox/LocalBox/LocalBox.js
  frontend/src/components/OptionSelectModal/OptionSelectModal.js
  frontend/src/components/SignUpBox/SignUpBox.js
  frontend/src/components/index.js
  frontend/src/imgs/close-dark.svg
  frontend/src/pages/Issue.js
  frontend/src/services/index.js
  frontend/src/services/issue.service.js
  frontend/src/services/user.service.js
Labels: backend, convention, frontend

#118 [WEB-#90] 이슈 페이지 추가 구현
  backend/app.js
  deploy.sh
  frontend/src/api/index.js
  frontend/src/components/IssueList/IssueFilterTab/FilterBox/FilterBox.js
  frontend/src/components/IssueList/IssueFilterTab/IssueFilterTab.js
  frontend/src/components/IssueList/IssueList.js
  frontend/src/components/IssueSearchBox/IssueSearchBox.js
  frontend/src/components/OptionSelectModal/OptionSelectModal.js
  frontend/src/components/index.js
  frontend/src/pages/Issue.js
  frontend/src/services/index.js
  frontend/src/services/label.service.js
  frontend/src/services/milestone.service.js
Labels: backend, frontend

#121 [WEB-#120] 이슈 close api 수정
  backend/models/issue.model.js
Labels: backend

#119 [Web-#92] LabelTag 공통 컴포넌트로 교체
  frontend/src/components/LabelBox/LabelItemBox/LabelItem/LabelItem.js
  frontend/src/components/LabelBox/LabelItemBox/LabelItemBox.js
  frontend/src/components/LabelTag/LabelTag.js
  frontend/src/components/index.js
  frontend/src/styles/utils.js
Labels: frontend

#125 [iOS-#124] issue page constraint error fix
  ios/IssueTracker/IssueTracker/Controller/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Protocol/ListCollectionViewProtocol.swift
  ios/IssueTracker/IssueTracker/View/IssueCollectionViewCell.swift
Labels: bug, iOS

#123 [WEB] cors 설정 롤백 및 오류 코드 수정, 검색창 포커싱 개선
  backend/app.js
  frontend/src/api/index.js
  frontend/src/components/IssueList/IssueFilterTab/IssueFilterTab.js
  frontend/src/components/IssueSearchBox/IssueSearchBox.js
Labels: backend, frontend

#127 [WEB-#126] 이미지 업로드 구현, 프론트 코드 일부 수정
  backend/.gitignore
  backend/app.js
  backend/package-lock.json
  backend/package.json
  backend/public/imgs/.keep
  backend/routes/api/index.js
  backend/routes/api/upload/index.js
  backend/routes/api/upload/upload.controller.js
  frontend/src/components/IssueList/IssueFilterTab/IssueFilterTab.js
  frontend/src/components/IssueList/IssueList.js
  frontend/src/components/IssueSearchBox/IssueSearchBox.js
  frontend/src/components/SignUpBox/SignUpBox.js
Labels: backend, frontend

#128 [WEB-#90] 필터링 및 검색 구현 완료
  backend/services/issue.service.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/IssueList/IssueFilterTab/IssueFilterTab.js
  frontend/src/components/IssueList/IssueList.js
  frontend/src/components/IssueSearchBox/IssueSearchBox.js
  frontend/src/components/OptionSelectModal/OptionSelectModal.js
  frontend/src/pages/Issue.js
  frontend/src/pages/index.js
  frontend/src/services/issue.service.js
Labels: backend, frontend

#129 [WEB-#90] 검색 결과 없을 때 안내메시지, LabelMilestoneControls 일부 수정 등
  frontend/src/components/IssueList/IssueFilterTab/IssueFilterTab.js
  frontend/src/components/IssueList/IssueItem/IssueItem.js
  frontend/src/components/IssueList/IssueList.js
  frontend/src/components/IssueSearchBox/IssueSearchBox.js
  frontend/src/components/LabelBox/LabelMilestoneTab/LabelMilestoneTab.js
  frontend/src/components/LabelMilestoneControls/LabelMilestoneControls.js
  frontend/src/imgs/label-white.svg
  frontend/src/imgs/milestone-white.svg
  frontend/src/pages/Issue.js
  frontend/src/styles/variables.js
Labels: frontend

#134 [Web-#92] 레이블 편집 박스 css
  frontend/src/components/LabelBox/LabelItemBox/LabelEditBox/LabelEditBox.js
Labels: frontend

#136 [WEB-#91] 마일스톤 리스트 페이지 구현
  frontend/src/components/LabelMilestoneControls/LabelMilestoneControls.js
  frontend/src/components/LabelMilestoneTab/LabelMilestoneTab.js
  frontend/src/components/MilestoneList/MilestoneHeader/MilestoneHeader.js
  frontend/src/components/MilestoneList/MilestoneItem/MilestoneItem.js
  frontend/src/components/MilestoneList/MilestoneList.js
  frontend/src/components/index.js
  frontend/src/imgs/check.svg
  frontend/src/imgs/milestone-calendar.svg
  frontend/src/imgs/milestone-clock.svg
  frontend/src/pages/Milestone.js
  frontend/src/services/milestone.service.js
  frontend/src/styles/variables.js
Labels: frontend

#135 [WEB-#90] 이슈 조회 페이지 구현
  backend/models/issue.model.js
  backend/routes/api/auth/auth.controller.js
  backend/routes/api/auth/index.js
  backend/routes/api/issues/[no]/labels/label.controller.js
  backend/routes/api/issues/index.js
  backend/routes/api/issues/issues.controller.js
  backend/services/issue.service.js
  frontend/src/App.js
  frontend/src/components/Header/Header.js
  frontend/src/components/IssueInputBox/IssueInputBox.js
  frontend/src/components/IssueList/IssueFilterTab/IssueFilterTab.js
  frontend/src/components/IssueList/IssueItem/IssueItem.js
  frontend/src/components/IssueList/IssueList.js
  frontend/src/components/IssueSearchBox/IssueSearchBox.js
  frontend/src/components/IssueSidebar/GearIcon/GearIcon.js
  frontend/src/components/IssueSidebar/IssueSidebar.js
  frontend/src/components/LabelTag/LabelTag.js
  frontend/src/components/index.js
  frontend/src/hoc/index.js
  frontend/src/hoc/withAuth.js
  frontend/src/index.scss
  frontend/src/pages/Issue.js
  frontend/src/pages/IssueNew.js
  frontend/src/pages/index.js
  frontend/src/services/issue.service.js
  frontend/src/services/user.service.js
  frontend/src/styles/variables.js
  frontend/webpack.config.js
Labels: backend, frontend

#141 [iOS-#130] markDownView 구현, label 추가 수정 동작
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controller/IssueAddViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Controller/LabelDetailAndAddViewController.swift
  ios/IssueTracker/IssueTracker/Controller/LabelViewController.swift
  ios/IssueTracker/IssueTracker/Controller/MilestoneEditViewController.swift
  ios/IssueTracker/IssueTracker/Controller/ViewController.swift
  ios/IssueTracker/IssueTracker/Info.plist
  ios/IssueTracker/IssueTracker/IssueTracker.entitlements
  ios/IssueTracker/IssueTracker/Model/Issue.swift
  ios/IssueTracker/IssueTracker/Model/Label.swift
  ios/IssueTracker/IssueTracker/View/LabelCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/extension/UIColor+toHexString.swift
  ios/IssueTracker/Podfile
Labels: enhancement, iOS

#139 [WEB] HOC 관련 실수 수정 및 fake Upload 로직 변경
  frontend/src/App.js
  frontend/src/components/IssueInputBox/IssueInputBox.js
  frontend/src/hoc/withAuth.js
Labels: bugFix

#160 [WEB-#158] 이슈 생성화면의 사이드바 일부 구현
  frontend/src/components/IssueList/IssueFilterTab/IssueFilterTab.js
  frontend/src/components/IssueSearchBox/IssueSearchBox.js
  frontend/src/components/IssueSidebar/IssueSidebar.js
  frontend/src/components/LabelMilestoneTab/LabelMilestoneTab.js
  frontend/src/components/OptionSelectModal/OptionSelectModal.js
  frontend/src/components/index.js
  frontend/src/hoc/withAuth.js
  frontend/src/pages/IssueNew.js
  frontend/src/styles/shared/Box.js
  frontend/src/styles/shared/Icon.js
  frontend/src/styles/shared/index.js
Labels: frontend

#161 [WEB-#91] 마일스톤 수정, 삭제 구현
  backend/models/milestone.model.js
  backend/routes/api/milestones/milestones.controller.js
  frontend/src/components/LabelMilestoneTab/LabelMilestoneTab.js
  frontend/src/components/MilestoneEditBox/MilestoneEditBox.js
  frontend/src/components/MilestoneList/MilestoneItem/MilestoneItem.js
  frontend/src/components/MilestoneList/MilestoneList.js
  frontend/src/pages/Milestone.js
  frontend/src/services/milestone.service.js
Labels: backend, frontend

#157 [Web-#92] 레이블 화면 완성
  frontend/src/components/LabelBox/LabelBox.js
  frontend/src/components/LabelBox/LabelBoxContext.js
  frontend/src/components/LabelBox/LabelItemBox/LabelEditBox/LabelEditBox.js
  frontend/src/components/LabelBox/LabelItemBox/LabelItem/LabelItem.js
  frontend/src/components/LabelBox/LabelItemBox/LabelItemBox.js
  frontend/src/components/LabelBox/LabelMilestoneTab/LabelMilestoneTab.js
  frontend/src/components/LabelTag/LabelTag.js
  frontend/src/services/label.service.js
  frontend/src/styles/utils.js
Labels: frontend

#162 [iOS-#76] bottom view edit VC
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+ButtonAction.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+CollectionView.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+Notification.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+Scroll.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/IssueDetailBottomViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewAssigneeCell.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewAssigneeCell.xib
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewFooterView.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewFooterView.xib
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewHeaderView.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewLabelCell.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewLabelCell.xib
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewMilestoneCell.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Extensions/SectionItemEditVC+CollectionView.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Extensions/SectionItemEditVC+NavigationBar.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Extensions/SectionItemEditVC+Scroll.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Extensions/SectionItemEditVC+SearchBar.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/SectionItemEditViewController.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Views/SIEAssigneeViewCell.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Views/SIELabelViewCell.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Views/SIEMilestoneViewCell.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Views/SIESupplementaryView.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Views/SIEViewCell.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Views/TitleSupplementaryView.swift
  ios/IssueTracker/IssueTracker/Controller/ViewController.swift
  ios/IssueTracker/IssueTracker/Model/GitIssueObject.swift
  ios/IssueTracker/IssueTracker/Model/HTTPAgent.swift
  ios/IssueTracker/IssueTracker/Model/Label.swift
  ios/IssueTracker/IssueTracker/Model/Milestone.swift
  ios/IssueTracker/IssueTracker/Model/User.swift
  ios/IssueTracker/IssueTracker/View/MilestoneViewCell.swift
  ios/IssueTracker/IssueTracker/extension/NSLayoutConstraint+description.swift
  ios/IssueTracker/IssueTracker/extension/NotificationName.swift
Labels: enhancement, iOS

#171 [iOS-#153] 이슈 상세 / bottom 뷰 서버에서 데이터 로드
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+ButtonAction.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/IssueDetailBottomViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewAssigneeCell.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewAssigneeCell.xib
  ios/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Controller/LabelViewController.swift
  ios/IssueTracker/IssueTracker/Controller/MilestoneViewController.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Extensions/SectionItemEditVC+CollectionView.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/SectionItemEditViewController.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Views/SIEAssigneeViewCell.swift
  ios/IssueTracker/IssueTracker/Controller/ViewController.swift
  ios/IssueTracker/IssueTracker/Model/HTTPAgent.swift
  ios/IssueTracker/IssueTracker/Model/Issue.swift
  ios/IssueTracker/IssueTracker/Model/Milestone.swift
  ios/IssueTracker/IssueTracker/View/IssueDetailCommentViewCell.swift
  ios/IssueTracker/IssueTracker/View/IssueDetailHeaderReusableView.swift
Labels: enhancement, iOS

#172 [iOS-#147] label 추가, 수정 서버 연동
  ios/IssueTracker/IssueTracker/Controller/LabelDetailAndAddViewController.swift
  ios/IssueTracker/IssueTracker/Controller/LabelViewController.swift
  ios/IssueTracker/IssueTracker/Model/HTTPAgent.swift
Labels: enhancement, iOS

#164 [WEB-#91] 마일스톤 페이지 완성
  frontend/src/components/LabelBox/LabelItemBox/LabelEditBox/LabelEditBox.js
  frontend/src/components/MilestoneEditBox/MilestoneEditBox.js
  frontend/src/components/MilestoneList/MilestoneHeader/MilestoneHeader.js
  frontend/src/components/MilestoneList/MilestoneItem/MilestoneItem.js
  frontend/src/components/MilestoneList/MilestoneList.js
  frontend/src/imgs/check-gray.svg
  frontend/src/imgs/milestone-gray.svg
Labels: frontend

#181 [WEB] label css수정
  frontend/src/components/LabelBox/LabelItemBox/LabelEditBox/LabelEditBox.js
  frontend/src/components/LabelBox/LabelItemBox/LabelItem/LabelItem.js
  frontend/src/components/LabelBox/LabelItemBox/LabelItemBox.js
  frontend/src/components/LabelTag/LabelTag.js
  frontend/src/components/MilestoneList/MilestoneHeader/MilestoneHeader.js
  frontend/src/pages/Milestone.js
  frontend/src/pages/MilestoneEdit.js
  frontend/src/pages/MilestoneNew.js
Labels: frontend

#183 [WEB-#90] 공통 컴포넌트 요소 common 폴더로 분리, 이슈 제목 수정 디자인 및 구현 완료
  frontend/src/components/IssueDetailHeader/IssueDetailHeader.js
  frontend/src/components/IssueDetailHeader/IssueTitleEditBox/IssueTitleEditBox.js
  frontend/src/components/IssueList/IssueItem/IssueItem.js
  frontend/src/components/IssueSidebar/IssueSidebar.js
  frontend/src/components/LabelBox/LabelItemBox/LabelEditBox/LabelEditBox.js
  frontend/src/components/LabelBox/LabelItemBox/LabelItem/LabelItem.js
  frontend/src/components/common/ClosedIcon/ClosedIcon.js
  frontend/src/components/common/LabelMilestoneControls/LabelMilestoneControls.js
  frontend/src/components/common/LabelTag/LabelTag.js
  frontend/src/components/common/OpenIcon/OpenIcon.js
  frontend/src/components/common/OptionSelectModal/OptionSelectModal.js
  frontend/src/components/common/index.js
  frontend/src/components/index.js
  frontend/src/contexts/index.js
  frontend/src/hoc/withAuth.js
  frontend/src/pages/Issue.js
  frontend/src/pages/IssueDetail.js
  frontend/src/services/issue.service.js
  frontend/src/services/label.service.js
  frontend/src/services/milestone.service.js
  frontend/src/services/user.service.js
  frontend/src/styles/utils.js
  frontend/src/styles/variables.js
Labels: backend, frontend

#185 [WEB] progressBar 변경 및 label 입력 margin변경
  frontend/src/components/LabelBox/LabelItemBox/LabelEditBox/LabelEditBox.js
  frontend/src/components/MilestoneList/MilestoneItem/MilestoneItem.js
  frontend/src/components/common/ProgressBar/ProgressBar.js
  frontend/src/components/common/index.js
Labels: frontend

#188 [iOS-#187] 메모리 누수 해결
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+ButtonAction.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+CollectionView.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+Notification.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/IssueDetailBottomViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewAssigneeCell.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewFooterView.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewHeaderView.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Extensions/SectionItemEditVC+CollectionView.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/SectionItemEditViewController.swift
  ios/IssueTracker/IssueTracker/Controller/SectionItemEditVC/Views/SIESupplementaryView.swift
  ios/IssueTracker/IssueTracker/extension/NotificationName.swift
Labels: bug, iOS

#190 [iOS-#173] 이슈 페이지 서버 연동 etc
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controller/IssueAddViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Model/Issue.swift
  ios/IssueTracker/IssueTracker/View/IssueCollectionViewCell.swift
Labels: enhancement, iOS

#191 [iOS-#189] bottom view 하단 issue 상태 변경 버튼 동작 구현
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+CollectionView.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+Notification.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/IssueDetailBottomViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewFooterView.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Views/BottomViewFooterView.xib
  ios/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Model/Issue.swift
  ios/IssueTracker/IssueTracker/extension/NotificationName.swift
Labels: enhancement, iOS

#192 [WEB] label오타 수정 및 font-size변경
  frontend/src/components/LabelBox/LabelItemBox/LabelEditBox/LabelEditBox.js
  frontend/src/components/LabelBox/LabelItemBox/LabelItem/LabelItem.js
Labels: frontend

#194 [iOS-#152] milestone edit VC
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controller/MilestoneEditViewController.swift
  ios/IssueTracker/IssueTracker/Controller/MilestoneViewController.swift
  ios/IssueTracker/IssueTracker/View/MilestoneViewCell.swift
  ios/IssueTracker/IssueTracker/View/MilestoneViewCell.xib
  ios/IssueTracker/IssueTracker/extension/NotificationName.swift
Labels: enhancement, iOS

#197 [iOS-#156] bottom view 상단 버튼 동작 구현
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+ButtonAction.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/extension/NotificationName.swift
Labels: enhancement, iOS

#200 [iOS-#150] edit issue title on detail VC
  ios/IssueTracker/IssueTracker/Controller/IssueDetailBottomVC/Extensions/IssueDetailBottomVC+CollectionView.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Controller/LabelViewController.swift
  ios/IssueTracker/IssueTracker/Controller/MilestoneViewController.swift
  ios/IssueTracker/IssueTracker/Model/Issue.swift
Labels: enhancement, iOS

#201 [iOS-#142] filter 기능(서버 연동)
  ios/IssueTracker/IssueTracker.xcodeproj/project.pbxproj
  ios/IssueTracker/IssueTracker/Base.lproj/Main.storyboard
  ios/IssueTracker/IssueTracker/Controller/FilterSelectViewController.swift
  ios/IssueTracker/IssueTracker/Controller/FilterViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueViewController.swift
  ios/IssueTracker/IssueTracker/Controller/JoinViewController.swift
  ios/IssueTracker/IssueTracker/Controller/ViewController.swift
  ios/IssueTracker/IssueTracker/View/IssueCollectionViewCell.swift
  ios/IssueTracker/IssueTracker/View/SelectLabel.swift
  ios/IssueTracker/IssueTracker/extension/UICollectionView+Select.swift
Labels: enhancement, iOS

#204 [iOS-#203] markdown image load error fix
  ios/IssueTracker/IssueTracker/Controller/IssueAddViewController.swift
  ios/IssueTracker/IssueTracker/Model/HTTPAgent.swift
Labels: bug, iOS

#205 [iOS] edit/delete comment
  ios/IssueTracker/IssueTracker/Controller/CommentAddViewController.swift
  ios/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/View/IssueDetailCommentViewCell.swift
  ios/IssueTracker/IssueTracker/extension/NotificationName.swift
Labels: enhancement, iOS

#206 [iOS] markdown rendering on issue detail VC
  ios/IssueTracker/IssueTracker/Controller/IssueDetailViewController.swift
  ios/IssueTracker/IssueTracker/Controller/ViewController.swift
  ios/IssueTracker/IssueTracker/View/IssueDetailCommentViewCell.swift
  ios/IssueTracker/IssueTracker/View/IssueDetailCommentViewCell.xib
Labels: enhancement, iOS
